<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            name="生成BOM明细表"
            id="com.zht.customization.commands.generatebominfo">
      </command>
      <command
            id="com.zht.customization.commands.sendecn2erp"
            name="向ERP系统传递更改信息">
      </command>
      <command
            id="com.zht.customization.commands.sendnew2erp"
            name="向ERP系统传递新增信息">
      </command>
      <command
            id="com.zht.customization.commands.createdrawing"
            name="新建ZHT-工程图">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.zht.customization.commands.generatebominfo"
            class="com.zht.customization.handlers.GenerateBOMInfoHandler">
      </handler>
      <handler
            class="com.zht.customization.handlers.SendECN2ERPHandler"
            commandId="com.zht.customization.commands.sendecn2erp">
      </handler>
      <handler
            class="com.zht.customization.handlers.SendNew2ERPHandler"
            commandId="com.zht.customization.commands.sendnew2erp">
      </handler>
      <handler
            class="com.zht.customization.handlers.CreateDrawingHandler"
            commandId="com.zht.customization.commands.createdrawing">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="中恒天"
               mnemonic="M"
               id="com.zht.customization.menus.zht">
            <command
                  commandId="com.zht.customization.commands.generatebominfo"
                  id="com.zht.customization.menus.GenerateBOMInfo">
                  <visibleWhen>
	                    <reference
	                        definitionId="com.teamcenter.rac.pse.inMainView">
	                    </reference>
	            </visibleWhen>
            </command>
            <command
                  commandId="com.zht.customization.commands.sendecn2erp"
                  id="com.zht.customization.menus.SendECN2ERP">
            </command>
            <command
                  commandId="com.zht.customization.commands.sendnew2erp"
                  id="com.zht.customization.menus.sendNew2ERP">
            </command>
            <command
                  commandId="com.zht.customization.commands.createdrawing"
                  id="com.zht.customization.menus.createdrawing">
            </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>
